body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;

    display: grid;
    grid-template-columns: 10rem;
    grid-template-columns: repeat(auto-fill, minmax(1fr, 1fr, 1fr, 1fr));
    grid-template-areas: 
        "header header header header"
        "main main main main"
        "main main main main"
        "footer footer footer footer"

}
/* STRUCTURE */

header {
    grid-area: header;
    background-color: black;
    
    color: white;
}

main {
    grid-area: main;
    grid-auto-columns: 2rem;
}

footer {
    grid-area: footer;
    background-color: rgb(68, 67, 67);
    color: white;
}

/* ELEMENTS */

img {
    width: 20rem;
    height: auto;
}

main > div {
    display: flex;
    flex-wrap: wrap;
}

.quote {
    font-size: xx-small;
}

/* LINKS */
header p > a:visited {
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

header p > a:hover {
    text-decoration: none;
    color: rgb(68, 67, 67);
    font-size: xx-large;
}
header p > a:link {
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

main > p:visited {
    text-decoration: none;
}


/* PICTURE CLASSES*/
.main-pictures img:hover {
    opacity: 20%;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.relative {
    position: relative;
}

.container {
    text-align: center;
}
/* TRAVEL SLIDESHOW  */

.travel-slideshow {
    position: relative;
    width: 20rem;
    height: auto;
}
.travel-slideshow > img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    width: 10rem;
    height: auto;
    
}
.travel-slideshow .show {
    opacity: 1;
} 

/*RE-USABLE CLASSES*/
.display-none {
    display: none;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.padding {
    padding: 1rem;
    padding-left: 1rem;
}

