body {
    margin: 0;
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: black;
    
    color: white;
    font-size: xx-large;
}

main {
    padding-bottom: 2rem;
}

img {
    width: 20rem;
    height: auto;
    
}

.container > img:hover {
    opacity: 50%;
}

a:hover {
    opacity: 20%;
}

footer {
    background-color: rgb(68, 67, 67);
    color: white;
}



/* ICONS */

/* PICTURE CLASSES*/

/* .slideshow-container {
    position: relative;
    width: 20rem;
    height: auto;
}
.slideshow-container > img {
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    object-fit: cover;
    
}
.slideshow-container .show {
    opacity: 1;
} */
/*RE-USABLE CLASSES*/
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}
.padding {
    padding: 1rem;
    padding-left: 1rem;
}
